html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'apercu', sans-serif !important;
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_bold_italic_pro.otf');
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/Apercu.otf');
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_bold_italic_pro (1).otf');
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_bold_pro.otf');
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_bold_pro (1).otf');
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_medium_italic_pro.otf');
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_medium_italic_pro (1).otf');
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_mono_pro.otf');
}
@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_mono_pro (1).otf');
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_regular_italic_pro.otf');
}

@font-face {
  font-family: 'apercu';
  src: url('/apercu/apercu_regular_pro.otf');
}

@media screen and (max-width: 768px) {
  .columns {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
  }
  .column {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
  }
}
