html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0px 6.5% 0;
  position: fixed;
  top: 29.4%;
  width: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 40px;
  letter-spacing: normal;
  line-height: 4.6rem;
  color: #100065;
  font-family: Roboto, Helvetica, sans-serif !important;
}

h2 {
  padding-right: 49rem;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: normal;
  color: #100065;
  margin-left: 0.46%;
  font-family: Roboto, Helvetica, sans-serif !important;
}

.button {
  border-radius: 24px;
  background-color: #f50058;
  width: 272px;
  height: 64px;
  border: solid 0px;
  margin-top: 3%;
}
