html {
  font-family: 'ApercuPro';
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  width: 1440px;
  height: 800px;
}
h1 {
  width: 574px;
  height: 48px;
  font-family: ApercuPro;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #100065;
}

h2 {
  width: 569px;
  height: 56px;
  font-family: ApercuPro;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #100065;
}

